{
    "root": true,
    "plugins": [
      "import",
      "prettier"
    ],
    "extends":"airbnb-typescript/base",
    "parserOptions": {
      "project": "./tsconfig.eslint.json",
    },
    "rules": { }
  }